{% extends 'Bilqram/base.html' %}
{% block title %}
    <style>
    .blogAuthorName{
        float: right;
    }
    </style>
    <title>{{ blog.title }}</title>
{% endblock title %}

{% block content %}

    <h1>{{ blog.title }}</h1>

    <p>
        {{ blog.content }}
    </p>

    <br><br>

    <h3 class="blogAuthorName"><a href="{% url 'Bilqram:user' blog.author.username %}">Author: {{ blog.author.name }}</a> </h3>

    <br><br>

    <div class="commentSection">
        {% if user.is_authenticated %}
            <div class="writeComment">
                <form action="{% url 'Bilqram:newComment' blog.id %}" method="post">
                    {% csrf_token %}
                    <label> Your Comment
                        <textarea name="comment">
                        </textarea>
                    </label>
                    <input type="submit" value="Publish comment">
                </form>
            </div>
        {% else %}
            <h2>Log in to write a comment</h2>
        {% endif %}

        {% for comment in comments %}
            <div class="comment">
                <h4>{{ comment.author }}:</h4>
                <h3>{{ comment.title }}</h3>
                <p>{{ comment.content }}</p>
            </div>
            <br><br>
        {% endfor %}
    </div>

{% endblock content %}