{% extends 'Bilqram/base.html' %}
{% block title %}
    <title>New blog</title>
{% endblock %}
{% block content %}
<form action="{% url 'Bilqram:newBlogAction' %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend>Blog</legend>
        <label for="title">Title</label><input type="text" name="title" id="title"><br><br>
        <label for="content">Text</label><textarea name="content" id="content"></textarea><br><br>
    </fieldset>
    <input type="submit" value="Publish Blog">
</form>
{% endblock content %}