{% extends 'Bilqram/base.html' %}
{% block title %}
    <title>Login</title>
{% endblock title %}

{% block content %}
<body>
<div class="ms-3 mt-3">
    <h2>Login</h2>
    {% if messages %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <br><br>
    <a href="{% url 'Bilqram:register' %}">Register</a>
</div>
{% endblock content %}